body {
    margin: 0;
    padding: 0;
    background-color: #000000;
}

div {
    margin: 0;
    padding: 0;
}

#clock-block {

}

#it-is-frame {
    
}

#it-is {

}

#minute-frame {
    
}

#past-till-frame {
    
}

#hour-frame {
    /* display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr); */
}

#am-pm-frame {
    
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* gap: 50px; */
}

.frame {
    /* border: 3px solid #b02323; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.it-is {
    
}

.minute {
    
}

.past-till {
    
}

.hours {
    
}

.am-pm {

}
    
.hidden {
    display: none;
}

.active.words {
    display: inline-block;
    color: aquamarine;
    text-shadow: 5px 3px 5px #b02323;
}

.words {
    display: none;
    /* Font Properties */
    font-family: "League Gothic", sans-serif;
    font-size: 120px;
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
    font-stretch: condensed;
    line-height: normal;
    letter-spacing: normal;
    word-spacing: normal;

    /* Text Alignment and Decoration */
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    text-indent: 0;
    text-overflow: clip;
    white-space: normal;
    vertical-align: baseline;
    direction: ltr;

    /* Color and Shadow */
    color: #ffffff;
    text-shadow: none;

    /* Spacing and Wrapping */
    word-wrap: normal;
    overflow-wrap: normal;
    line-break: auto;

    /* Other Text Properties */
    text-justify: auto;
    hyphens: none;
    writing-mode: horizontal-tb;
    unicode-bidi: normal;
    tab-size: 8;
}